{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true 
  },
  "extends": ["eslint:recommended", "google", "eslint-config-prettier"],
  "plugins": ["html"],
  "rules": {
    "linebreak-style": "off",
    "no-var": "off"
  }
}